.logo {
  width: 2.5rem;
  margin-left: 2rem;
  cursor: pointer;
}
.greenText {
  color: aquamarine;
}
.headerLinks {
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding-right: 1rem;
}
.padding-right-2rem {
  padding-right: 2rem;
}
.headerLinks:hover {
  color: aquamarine;
}
.logoContainer {
  display: flex;
  flex: 1;
  width: fit-content;
  text-align: center;
  align-items: center;
}
.initials {
  display: inline-flex;
  height: 2rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border-width: 1px;
  font-size: .75rem;
  line-height: 1rem;
  color: aquamarine;
  border: 1px solid aquamarine;
}
.Header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 1rem;
  padding-left: 1rem;
  user-select: none;
}
.linkContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.resume {
  background-color: transparent;
  color: aquamarine;
  border: 0.1rem solid aquamarine;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;

}
.resume:active {
  background-color: aquamarine;
  color: black;
  transform: translateY(0.3rem);
}
